In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [12]:
df = DataFrame(np.random.random(100).reshape(10,10))

In [17]:
df < 0.5

       0      1      2      3      4      5      6      7      8      9
0   True   True   True  False  False  False  False  False  False   True
1  False  False   True  False   True  False   True  False   True  False
2   True   True  False  False   True   True   True   True   True  False
3   True  False  False  False  False   True   True   True   True  False
4   True  False   True   True   True   True  False  False   True  False
5  False  False   True   True   True   True  False   True   True   True
6  False  False   True   True   True   True  False   True   True   True
7  False   True  False  False  False  False   True   True   True   True
8  False  False  False  False  False   True   True   True  False   True
9   True   True   True  False  False  False  False  False   True   True