In [11]:
import os, pyodbc
import pandas as pd
#import numpy as np
from pandas import DataFrame
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
from sqlalchemy import create_engine

In [12]:
sql = 'SELECT Project, HoleID, count(Samples_Outstanding) as NoSamplesOutstanding, count(QAQC_Outstanding) as QAQC_Outstanding \
FROM \
(SELECT a.NomProjet Project, b.Nom HoleID, c.NuEchantillon Samples_Outstanding, NULL as QAQC_Outstanding \
FROM tblNomProjet a join tblNuSondage b on a.idKey = b.idNomProjet join tblAnalReg c on b.idKey = c.idNuSondage \
where not exists(Select * from tblCertEchAnalyse d where c.idKey = d.idAnalReg) \
UNION \
SELECT a.NomProjet Project, b.Nom HoleID, NULL, c.NuEchantillon QAQC_Outstanding \
FROM tblNomProjet a join tblNuSondage b on a.idKey = b.idNomProjet \
join tblQAQC c on b.idKey = c.idNuSondage \
where not exists(Select * from tblCertEchQAQC d where c.idKey = d.idQAQC \
) ) as x \
group by Project, HoleID \
having HoleID like \'%17[_]%\' \
order by Project, HoleID'

In [13]:
engine = create_engine("mssql+pyodbc://gt_KL_Master")

In [4]:
df = pd.read_sql(sql, engine)

In [5]:
df.to_clipboard(index = False)

In [6]:
df

                 Project     HoleID  NoSamplesOutstanding  QAQC_Outstanding
0   Amalgamated Kirkland  AKC17_138                    32                 6
1        Skead-MacGregor    SM17_06                    72                10
2        Skead-MacGregor    SM17_07                   116                17
3        Skead-MacGregor    SM17_08                   100                15
4        Skead-MacGregor    SM17_09                    17                 1
5        Skead-MacGregor    SM17_10                    25                 6
6        Skead-MacGregor    SM17_11                   120                17
7            UpperBeaver   UB17_428                    54                 6
8            UpperBeaver   UB17_429                    25                 3
9            UpperBeaver   UB17_437                    56                10
10           UpperBeaver   UB17_438                   136                19
11           UpperBeaver   UB17_439                   127                21
12           UpperBeaver   UB17_440                   109                19
13           UpperBeaver   UB17_441                   132                20
14           UpperBeaver   UB17_442                   132                21
15           UpperBeaver   UB17_443                   142                25
16           UpperBeaver   UB17_444                   130                20

In [14]:
sql = 'Select TOP 10 \
DATEPART(yyyy, e.DateEmis) as YEAR, DATEPART(ww,e.DateEmis) as WeekofYear, \
a.NomProjet as PROJECT, COUNT(DISTINCT c.NuEchantillon) as \'Count of Samples\' \
from tblNomProjet a join tblNuSondage b on a.idKey = b.idNomProjet \
join tblAnalReg c on b.idKey = c.idNuSondage \
join tblCertEchAnalyse d on c.idKey = d.idAnalReg \
join tblAnalRegCertificat e on d.NuCertificat = e.NuCertificat \
group by DATEPART(yyyy,e.DateEmis), DATEPART(ww,e.DateEmis), a.NomProjet \
HAVING DATEPART(yyyy,e.DateEmis) = 2017 \
ORDER BY WeekofYear DESC'

In [15]:
df = pd.read_sql(sql, engine)

In [16]:
df

   YEAR  WeekofYear       PROJECT  Count of Samples
0  2017          36  Anoki-McBean                 2

In [10]:
df[:3].to_clipboard(index = False)