In [16]:
import pandas as pd
import pyodbc
from datetime import date
from datetime import timedelta

In [39]:
conn = pyodbc.connect(r'DSN=gt_KL_Master;Trusted_Connection=True')

In [40]:
isodate = date.isocalendar(date.today())
startdate = date(isodate[0],1,1) + timedelta((isodate[1]-1) * 7 -1)
enddate = startdate + timedelta(6)
sql = "Select NuCertificat from tblAnalRegCertificat where DateEmis between '" + startdate.strftime('%Y-%m-%d') +\
    "' and '" + enddate.strftime('%Y-%m-%d') + "'"
certs = conn.execute(sql).fetchall()

In [41]:
certs

[(u'TM17171961', ),
 (u'A17-08746Final', ),
 (u'TM17178068', ),
 (u'TM17171956', ),
 (u'TM17178094', ),
 (u'TM17178069', )]

In [47]:
for c in certs:
    sql2 = "Select a.NomProjet, b.Nom, Min(c.ProfDe), Max(c.ProfA), count(c.NuEchantillon) from tblNomProjet a join tblNuSondage b on a.idkey = b.idNomProjet \
    join tblAnalReg c on b.idkey = c.idNuSondage join tblCertEchAnalyse d on c.idkey = d.idAnalReg \
    where d.NuCertificat = '{}' group by a.NomProjet, b.Nom".format(c[0])
    cert_data = conn.execute(sql2)
    print c[0], cert_data.fetchone()

TM17171961 (u'Amalgamated Kirkland', u'AKC17_138', Decimal('1755.5000000000000000'), Decimal('1922.0000000000000000'), 225)
A17-08746Final None
TM17178068 (u'Skead-MacGregor', u'SM17_06', Decimal('240.0000000000000000'), Decimal('250.5000000000000000'), 14)
TM17171956 (u'UpperBeaver', u'UB17_437', Decimal('4.6000000000000000'), Decimal('117.0000000000000000'), 228)
TM17178094 None
TM17178069 (u'Skead-MacGregor', u'SM17_07', Decimal('15.0000000000000000'), Decimal('121.5000000000000000'), 148)