In [1]:
import os, pyodbc
import pandas as pd
#import numpy as np
from pandas import DataFrame
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
from sqlalchemy import create_engine

In [2]:
%pylab

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

c:\python27\arcgis10.2\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Connect to SQL db and create dataframe

In [3]:
engine = create_engine("mssql+pyodbc://gt_KL_Logger")

Query for Au standards

In [45]:
sql = "Select  b.Nom as 'HOLEID', c.NuEchantillon as 'SAMPLEID', c.Reference as 'STD', \
COALESCE(c.Col4, c.col65) as Au_gpt, d.DateForagFin as 'Date' \
from tblNomProjet a join tblNuSondage b on a.idkey = b.idNomProjet \
join tblQAQC c on b.idkey = c.idNuSondage \
join tblColletInformation d on b.idkey = d.idNuSondage \
where c.TypeQAQC = 3 and COALESCE(c.Col4, c.col65) is not NULL \
and isnumeric(COALESCE(c.Col4, c.col65)) = 1 and d.DateForageFin \
is not NULL and a.NomProjet like 'UpperCanada%'"

Exception in Tkinter callback
Traceback (most recent call last):
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 1470, in __call__
    return self.func(*args)
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 531, in callit
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 373, in idle_draw
    self.draw()
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 354, in draw
    FigureCanvasAgg.draw(self)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_agg.py", line 474, in draw
    self.figure.draw(self.renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\figure.py", line 1159, in draw
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axes\_base.py", line 2324, in draw
    a.draw(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 2244, in draw
    xy_pixel = self._get_position_xy(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1868, in _get_position_xy
    return self._get_xy(renderer, x, y, self.xycoords)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1720, in _get_xy
    x = float(self.convert_xunits(x))
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 189, in convert_xunits
    return ax.xaxis.convert_units(x)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axis.py", line 1442, in convert_units
    ret = self.converter.convert(x, self.units, self)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 168, in convert
    return _dt_to_float_ordinal(values)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 152, in _dt_to_float_ordinal
    base = dates.date2num(dt)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 375, in date2num
    return _to_ordinalf(d)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 221, in _to_ordinalf
    base = float(dt.toordinal())
  File "pandas\tslib.pyx", line 689, in pandas.tslib._make_error_func.f (pandas\tslib.c:15455)
ValueError: NaTType does not support toordinal

Query for  CU standards

Query for lab standards

In [5]:
sql = "Select  b.Nom as 'HOLEID', '0000' as 'SAMPLEID', c.Reference as 'STD', c.Col101 as 'Au_gpt', e.DateEmis as 'Date' \
from tblNomProjet a join tblNuSondage b on a.idkey = b.idNomProjet \
join tblQAQCLab c on b.idkey = c.idNuSondage \
join tblAnalRegCertificat e on c.NuCertificat = e.NuCertificat \
where c.TypeQAQC = 3 and c.Col101 is not NULL and e.DateEmis > '2017-1-1'"

Query for Blanks

In [4]:
sql = "Select  b.Nom as 'HOLEID', c.NuEchantillon as 'SAMPLEID', c.Reference as 'STD', \
COALESCE(c.Col4, c.col65) as Au_gpt, d.DateForagFin as 'Date' \
from tblNomProjet a join tblNuSondage b on a.idkey = b.idNomProjet \
join tblQAQC c on b.idkey = c.idNuSondage \
left join tblColletInformation d on b.idkey = d.idNuSondage \
where c.TypeQAQC = 1 and a.NomProjet like 'UpperCanada%' and COALESCE(c.Col4, c.col65) is not NULL \
and COALESCE(c.Col4, c.col65) <> '' \
and d.DateForagFin is not NULL "

In [36]:
df = pd.read_sql(sql, engine) #, index_col = 'Date')

In [37]:
stds = pd.read_sql("Select * from tblTypeStandard", engine)
stds.columns = ['idkey','std_name','alias','col','avg','active','sigma']

In [38]:
if 'Au_gpt' in df.columns:
    df['Au_val'] = df.Au_gpt[(df.Au_gpt <> ' NSS') & (df.Au_gpt <> 'NSS') & (df.Au_gpt <> 'NIL') & \
                      (df.Au_gpt <> '< 0.01') & (df.Au_gpt <> '<0.01') & (df.Au_gpt <> '<0.005')].astype(np.float)
    df = df.fillna({'Au_val':0.005})
elif 'Cu_ppm' in df.columns:
    df['Cu_val'] = df.Cu_ppm[(df.Cu_ppm <> ' NSS') & (df.Cu_ppm <> 'NSS') & (df.Cu_ppm <> 'NIL') & \
                      (df.Cu_ppm <> '<0.01') & (df.Cu_ppm <> '<0.005')].astype(np.float)
    df = df.fillna({'Cu_ppm':0})

In [39]:
df.index = df.Date

In [40]:

groups = set(df['STD'])

Generate Standard Graph

In [43]:
# with plt.xkcd():
fig = plt.figure(facecolor = 'w', figsize = (10, 12), tight_layout = False)

# fig.suptitle('CRM Analyses for week of %s' % (datetime.date.today() + datetime.timedelta(4 - \
#               datetime.date.weekday(datetime.date.today()))).strftime('Friday, %B %d, %Y'), fontsize = 16)
#fig.figimage(logo, 700,1025, zorder=1)
length = len(groups)

for a, g in enumerate(groups):   
    ax1 = fig.add_subplot(length,1,a+1)
    time_buffer = max((df.index.max() - df.index.min()) * 0.1, timedelta(5))
    datarange = [df.index.min() - time_buffer, df.index.max()+ time_buffer]

    #standard graphs
    std_mean = stds.avg[stds['alias'] == g].values[0]
    std_sd = stds.sigma[stds['alias'] == g].values[0]
    ax1.plot(datarange, [df[df.STD == g].Au_val.mean(), df[df.STD == g].Au_val.mean()], 'r-',\
              label = 'measured avg = %0.3f' % (df[df.STD == g].Au_val.mean()), linewidth = 1)
    ax1.plot(datarange, [std_mean, std_mean], 'b-', label = 'published avg = %0.3f' % (std_mean), linewidth = 1)
    _2sig1 = df[df.STD == g].Au_val.mean() + 2 * df[df.STD == g].Au_val.std()
    _2sig2 = df[df.STD == g].Au_val.mean() - 2 * df[df.STD == g].Au_val.std()
    _3sig1 = df[df.STD == g].Au_val.mean() + 3 * df[df.STD == g].Au_val.std()
    _3sig2 = df[df.STD == g].Au_val.mean() - 3 * df[df.STD == g].Au_val.std()
    _2sigm1 = std_mean + 2 * std_sd
    _2sigm2 = std_mean - 2 * std_sd
    _3sigm1 = std_mean + 3 * std_sd
    _3sigm2 = std_mean - 3 * std_sd
    ax1.plot(datarange, [_2sig1,_2sig1], 'r--', label = u'measured 2 sigma', linewidth = 1)
    ax1.plot(datarange, [_2sig2,_2sig2], 'r--')
    ax1.plot(datarange, [_3sig1,_3sig1], 'r:', label = u'meausred 3 sigma', linewidth = 1)
    ax1.plot(datarange, [_3sig2,_3sig2], 'r:')
    ax1.plot(datarange, [_2sigm1,_2sigm1], 'b--', label = u'published 2 sigma', linewidth = 1)
    ax1.plot(datarange, [_2sigm2,_2sigm2], 'b--')
    ax1.plot(datarange, [_3sigm1,_3sigm1], 'b:', label = u'published 3 sigma', linewidth = 1)
    ax1.plot(datarange, [_3sigm2,_3sigm2], 'b:', linewidth = 2)
    ax1.plot(df.Au_val[df.STD == g], 'wo', label = '_nolegend_')
    ax1.plot(df.Au_val[df.STD == g], 'k.', label = '_nolegend_')
    labels = df['SAMPLEID'][(df.STD == g) & ((df.Au_val < std_mean - 2 * std_sd) |\
                         (df.Au_val > std_mean + 2 * std_sd))]
    for d, l in labels.iteritems():
        ax1.annotate(l, xy = (d, df.Au_val[df.SAMPLEID == l]), xytext=(5, 5), textcoords= 'offset points', color = 'r')
    ylim = ax1.get_ylim()
    yshift = (ylim[1] - ylim[0]) /10.0

    ax1.set_ylim(ylim[0] - yshift, ylim[1] + yshift)
    ax1.legend(loc = 'upper left', fontsize = 'small')
    ax1.set_title('Analyses for %s, n= %d' % (g, df[df.STD == g].Au_val.count()), fontsize = 12)

    ax1.set_ylabel('Au g/t')
    xticks = ax1.get_xticks()
    date_labels = [datetime.date.fromordinal(int(f)) for f in xticks]
#     ax1.set_xticklabels([])
#     if a == length -1:
#       ax1.set_xticklabels([x.strftime('%d-%b-%y') for x in date_labels], rotation = 45)
    
#fig.savefig('C:\\Temp\\crm.jpg', dpi = 200)

Exception in Tkinter callback
Traceback (most recent call last):
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 1470, in __call__
    return self.func(*args)
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 531, in callit
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 373, in idle_draw
    self.draw()
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 354, in draw
    FigureCanvasAgg.draw(self)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_agg.py", line 474, in draw
    self.figure.draw(self.renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\figure.py", line 1159, in draw
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axes\_base.py", line 2324, in draw
    a.draw(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 2244, in draw
    xy_pixel = self._get_position_xy(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1868, in _get_position_xy
    return self._get_xy(renderer, x, y, self.xycoords)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1720, in _get_xy
    x = float(self.convert_xunits(x))
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 189, in convert_xunits
    return ax.xaxis.convert_units(x)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axis.py", line 1442, in convert_units
    ret = self.converter.convert(x, self.units, self)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 168, in convert
    return _dt_to_float_ordinal(values)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 152, in _dt_to_float_ordinal
    base = dates.date2num(dt)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 375, in date2num
    return _to_ordinalf(d)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 221, in _to_ordinalf
    base = float(dt.toordinal())
  File "pandas\tslib.pyx", line 689, in pandas.tslib._make_error_func.f (pandas\tslib.c:15455)
ValueError: NaTType does not support toordinal

Generate Blank graph

In [18]:
# with plt.xkcd():
fig = plt.figure(facecolor = 'w', figsize = (10, 8))


# fig.suptitle('Blank Analyses for week of %s' % (datetime.date.today() + datetime.timedelta(4 - \
#               datetime.date.weekday(datetime.date.today()))).strftime('Friday, %B %d, %Y'), fontsize = 16)
#fig.figimage(logo, 690*3,1035*3, zorder=1)
length = len(groups)

for a, g in enumerate(groups): 
    ax1 = fig.add_subplot(length,1,a+1)

    time_buffer = max((df.index.max() - df.index.min()) * 0.1, timedelta(5))
    datarange = [df.index.min() - time_buffer, df.index.max()+ time_buffer]

    ax1.plot(datarange, [0.015, 0.015], 'r-', label = '3 * L.O.D. (0.015 g/t)', linewidth = 1.5)
    _80pct = df[df.STD == g].Au_val.quantile(0.8)
    _90pct = df[df.STD == g].Au_val.quantile(0.9)
    ax1.plot(datarange, [_80pct,_80pct], 'b--', label = u'80th percentile', linewidth = 1.5)
    ax1.plot(datarange, [_90pct,_90pct], 'b:', label = u'90th percentile', linewidth = 1.5)
    ax1.plot(df.Au_val[df.STD == g], 'wo', label = '_nolegend_')
    ax1.plot(df.Au_val[df.STD == g], 'k.', label = '_nolegend_')
    labels = df[df.STD == g].SAMPLEID[(df[df.STD == g].Au_val > 0.015)]
#     for d, l in labels.iteritems():
#         ax1.annotate(l, xy = (d, df.Au_val[df.SAMPLEID == l]), xytext=(5, 5), textcoords= 'offset points')
    ylim = ax1.get_ylim()
    yshift = (ylim[1] - ylim[0]) /10.0

    ax1.set_ylim(ylim[0] - yshift, ylim[1] + yshift)
    ax1.legend(loc = 'best', fontsize = 'small')
    ax1.set_title('Analyses for %s, n= %d' % (g, df[df.STD == g].Au_val.count()), fontsize = 12)

    ax1.set_ylabel('Au g/t')

    ax1.set_xticklabels([])
    if a == length -1:    
        xticks = ax1.get_xticks()
        date_labels = [datetime.date.fromordinal(int(f)) for f in xticks]
        ax1.set_xticklabels([x.strftime('%d-%b-%y') for x in date_labels], rotation = 45)
    
#fig.savefig('C:\\Temp\\blank.jpg', dpi = 200)

In [13]:
df['STD'] = "BLANK"

In [41]:
groups

{u'STD11',
 u'STD12',
 u'STD13',
 u'STD15',
 u'STD16',
 u'STD17',
 u'STD18',
 u'STD19',
 u'STD22',
 u'STD3',
 u'STD4',
 u'STD7',
 u'STD9'}

In [22]:
df[df.Au_val > 1]

               HOLEID            SAMPLEID    STD Au_gpt       Date  Au_val
Date
2010-04-30   UC10_076     _UC10_076_60375  BLANK   1.13 2010-04-30    1.13
2011-01-23   UC11_214    _UC11_214_130675  BLANK   1.36 2011-01-23    1.36
2011-05-30  UC11_323E   _UC11_323E_140775  BLANK   1.01 2011-05-30    1.01
2011-05-30  UC11_323E   _UC11_323E_140800  BLANK   1.34 2011-05-30    1.34
2011-08-23   UC11_347    _UC11_347_191875  BLANK   1.42 2011-08-23    1.42
2011-08-04   UC11_352    _UC11_352_198325  BLANK   1.33 2011-08-04    1.33
2011-09-01   UC11_367    _UC11_367_206075  BLANK   3.27 2011-09-01    3.27
2012-02-15  UC12_426A   _UC12_426A-570425  BLANK   2.19 2012-02-15    2.19
2012-03-13   UC12_428   _UC12_428_M571525  BLANK   1.96 2012-03-13    1.96
2012-05-17   UC12_433    _UC12_433-575875  BLANK   2.38 2012-05-17    2.38
2012-10-29   UC12_458   _UC12_458_N980375  BLANK   3.94 2012-10-29    3.94
2013-04-11  UC13_174E  _UC13_174E_P964525  BLANK   1.04 2013-04-11    1.04
2013-03-29  UC13_474E  _UC13_474E_P964175  BLANK   2.11 2013-03-29    2.11

In [30]:
length

23

In [44]:
df

              HOLEID        SAMPLEID    STD Au_gpt       Date  Au_val
Date
2013-04-30  BG13-361         Q550026  STD18   3.52 2013-04-30   3.520
2009-07-02  UC09_001  _UC09_001_3126   STD7   0.61 2009-07-02   0.610
2009-07-02  UC09_001  _UC09_001_3151   STD4      1 2009-07-02   1.000
2009-07-02  UC09_001  _UC09_001_3176   STD7    0.6 2009-07-02   0.600
2009-07-02  UC09_001  _UC09_001_3201   STD4   0.97 2009-07-02   0.970
2009-07-02  UC09_001  _UC09_001_3226   STD7   0.59 2009-07-02   0.590
2009-06-28  UC09_003  _UC09_003_2826   STD7   0.65 2009-06-28   0.650
2009-06-28  UC09_003  _UC09_003_2851   STD4   0.99 2009-06-28   0.990
2009-06-28  UC09_003  _UC09_003_2876   STD7   0.64 2009-06-28   0.640
2009-06-28  UC09_003  _UC09_003_2901   STD4   0.98 2009-06-28   0.980
2009-06-28  UC09_003  _UC09_003_2926   STD7   0.62 2009-06-28   0.620
2009-06-28  UC09_003  _UC09_003_2951   STD4   0.96 2009-06-28   0.960
2009-06-28  UC09_003  _UC09_003_3001   STD4   0.97 2009-06-28   0.970
2009-06-28  UC09_003  _UC09_003_3027   STD7    0.6 2009-06-28   0.600
2009-06-28  UC09_003  _UC09_003_3051   STD4   1.03 2009-06-28   1.030
2009-06-28  UC09_003  _UC09_003_3101   STD4   0.97 2009-06-28   0.970
2009-06-28  UC09_003  _UC09_003_3104   STD7   0.56 2009-06-28   0.560
2009-07-09  UC09_004  _UC09_004_3252   STD4      1 2009-07-09   1.000
2009-07-09  UC09_004  _UC09_004_3277   STD7    0.6 2009-07-09   0.600
2009-07-09  UC09_004  _UC09_004_3301   STD4   0.97 2009-07-09   0.970
2009-07-09  UC09_004  _UC09_004_3326   STD7    0.6 2009-07-09   0.600
2009-07-09  UC09_004  _UC09_004_3351   STD4      1 2009-07-09   1.000
2009-07-09  UC09_004  _UC09_004_3376   STD7   0.59 2009-07-09   0.590
2009-07-09  UC09_004  _UC09_004_3401   STD4   0.98 2009-07-09   0.980
2009-07-10  UC09_005  _UC09_005_3426   STD7    0.6 2009-07-10   0.600
2009-07-10  UC09_005  _UC09_005_3451   STD4   0.99 2009-07-10   0.990
2009-07-10  UC09_005  _UC09_005_3476   STD7    0.6 2009-07-10   0.600
2009-07-10  UC09_005  _UC09_005_3501   STD4   0.99 2009-07-10   0.990
2009-07-10  UC09_005  _UC09_005_3526   STD7    0.6 2009-07-10   0.600
2009-07-10  UC09_005  _UC09_005_3551   STD4   0.96 2009-07-10   0.960
...              ...             ...    ...    ...        ...     ...
2014-02-10   LB14-64         Q551626  STD22    2.5 2014-02-10   2.500
2014-02-15   LB14-65         N444651  STD19  0.919 2014-02-15   0.919
2014-02-15   LB14-65         N444676  STD22   2.65 2014-02-15   2.650
2014-02-15   LB14-65         N444701  STD19  0.926 2014-02-15   0.926
2014-02-15   LB14-65         N444501  STD19   0.92 2014-02-15   0.920
2014-02-15   LB14-65         N444526  STD22   2.59 2014-02-15   2.590
2014-02-15   LB14-65         N444551  STD19  0.937 2014-02-15   0.937
2014-02-15   LB14-65         N444576  STD22    2.6 2014-02-15   2.600
2014-02-15   LB14-65         N444601  STD19  0.918 2014-02-15   0.918
2014-02-15   LB14-65         N444626  STD22   2.53 2014-02-15   2.530
2014-02-15   LB14-65         Q551926  STD22   2.59 2014-02-15   2.590
2014-02-15   LB14-65         Q551951  STD19  0.937 2014-02-15   0.937
2014-02-15   LB14-65         Q551976  STD22   2.67 2014-02-15   2.670
2014-02-16   LB14-67         Q557400  STD19  0.945 2014-02-16   0.945
2014-02-16   LB14-67         N431125  STD19  0.889 2014-02-16   0.889
2014-02-16   LB14-67         Q557425  STD22   2.62 2014-02-16   2.620
2014-02-16   LB14-67         Q557450  STD22   2.58 2014-02-16   2.580
2014-02-16   LB14-67         Q557475  STD19  0.944 2014-02-16   0.944
2014-02-16   LB14-67         Q557500  STD22   2.64 2014-02-16   2.640
2014-02-16   LB14-67         N431075  STD19  0.936 2014-02-16   0.936
2014-02-16   LB14-67         N431099  STD22   2.67 2014-02-16   2.670
2014-02-21   LB14-68         N435675  STD19  0.905 2014-02-21   0.905
2014-02-21   LB14-68         N435700  STD22   2.64 2014-02-21   2.640
2014-02-21   LB14-68         N435724  STD19  0.903 2014-02-21   0.903
2014-02-21   LB14-68         N431225  STD19  0.889 2014-02-21   0.889
2014-02-21   LB14-68         N431250  STD22   2.63 2014-02-21   2.630
2014-02-21   LB14-68         N431275  STD19  0.911 2014-02-21   0.911
2014-02-21   LB14-68         N431301  STD22   2.58 2014-02-21   2.580
2014-02-21   LB14-68         N431325  STD19  0.894 2014-02-21   0.894
2014-02-21   LB14-68         N431350  STD22   2.63 2014-02-21   2.630

[8022 rows x 6 columns]

Exception in Tkinter callback
Traceback (most recent call last):
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 1470, in __call__
    return self.func(*args)
  File "c:\python27\arcgis10.2\lib\lib-tk\Tkinter.py", line 531, in callit
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 373, in idle_draw
    self.draw()
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_tkagg.py", line 354, in draw
    FigureCanvasAgg.draw(self)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\backends\backend_agg.py", line 474, in draw
    self.figure.draw(self.renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\figure.py", line 1159, in draw
    func(*args)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axes\_base.py", line 2324, in draw
    a.draw(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 61, in draw_wrapper
    draw(artist, renderer, *args, **kwargs)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 2244, in draw
    xy_pixel = self._get_position_xy(renderer)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1868, in _get_position_xy
    return self._get_xy(renderer, x, y, self.xycoords)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\text.py", line 1720, in _get_xy
    x = float(self.convert_xunits(x))
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\artist.py", line 189, in convert_xunits
    return ax.xaxis.convert_units(x)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\axis.py", line 1442, in convert_units
    ret = self.converter.convert(x, self.units, self)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 168, in convert
    return _dt_to_float_ordinal(values)
  File "c:\python27\arcgis10.2\lib\site-packages\pandas\tseries\converter.py", line 152, in _dt_to_float_ordinal
    base = dates.date2num(dt)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 375, in date2num
    return _to_ordinalf(d)
  File "c:\python27\arcgis10.2\lib\site-packages\matplotlib\dates.py", line 221, in _to_ordinalf
    base = float(dt.toordinal())
  File "pandas\tslib.pyx", line 689, in pandas.tslib._make_error_func.f (pandas\tslib.c:15455)
ValueError: NaTType does not support toordinal